/* added header styling to make it appear on top */
header {
    display: inline-flex;
    top: -1;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 100px;
    width: 95%
}

/* added universal button color and radius */
button {
    display: inline-flex;
    background-color: blueviolet;
    border-radius: 20%;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   width: 10%;
   text-align:justify;
   padding:.4% ;
}
/* added styling to separate input to other elements */
input {
    margin-bottom: 10%;
}
/* added styling to starting quizcard class  */
.quizcard {
    display: flex;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
/* added syling to staring main text */
.title {
    font-size: 200%;
}
/* Added styling to starting text */
.intro {
    font-size: 130%;
}
/* added styling to start quiz button */
.startbutton {
    display: inline-flex;
    text-align: right;
}
/* added styling to score table div */
#Highscoretable {
    display: flex;
    text-align: center;
    justify-content: center;
    
}
/* added styling to submit button */
#Submitt {
    padding: 12px 4px 12px 4px
}